@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* BUTTONS */

.navBtn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 22px;
  gap: 8px;

  /* Primary/Dark */
  background: #2a2a2a;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height */

  text-transform: capitalize;

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;

  border: 1px solid #2a2a2a;
}

.navBtn:hover {
  background-color: transparent;
  color: #2a2a2a;
}

.massageBtn {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 22px;
  gap: 8px;

  /* Primary/Dark */

  border: 1px solid #2a2a2a;

  /* Inside auto layout */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height */

  text-transform: capitalize;

  /* Primary/Dark */

  color: #2a2a2a;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.massageBtn:hover {
  background: #2a2a2a;
  color: #ffffff;
}

.faqBtn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 22px;
  gap: 8px;

  /* Primary/Dark */

  background: #2a2a2a;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  text-transform: capitalize;

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.pricingBtn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 22px;
  gap: 8px;
  border: 1px solid #2a2a2a;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height */

  text-transform: capitalize;

  /* Primary/Dark */

  color: #2a2a2a;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.pricingBtn:hover {
  background: #2a2a2a;
  color: #ffffff;
}
.pricingBtn2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: #2a2a2a;
  padding: 16px 22px;
  gap: 8px;
  border: 1px solid #2a2a2a;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height */

  text-transform: capitalize;

  /* Primary/Dark */

  color: white;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.pricingBtn2:hover {
  background-color: transparent;
  color: #2a2a2a;
}

.subscribeBtn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 22px;
  gap: 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  text-transform: capitalize;

  color: #ffffff;

  background: #2a2a2a;
}
.subscribeBtn:hover {
  background-color: #f6f4f2;
  color: #2a2a2a;
}
.memberBtn {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 22px;
  gap: 8px;

  /* Primary/Dark */

  border: 1px solid #2a2a2a;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  text-align: center;
  text-transform: capitalize;

  /* Primary/Dark */

  color: #2a2a2a;
}
.memberBtn:hover {
  background-color: #2a2a2a;
  color: white;
}

/* NAVBAR */
nav ul li a:hover {
  color: #2a2a2a;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: "Poppins", serif;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* HEROSECTION */
.lineHero {
  border: 1px solid #2a2a2a;
  width: 61px;
  height: 0px;
}
.contentHero {
  height: -webkit-fill-available;
}

@media screen and (max-width: 1280px) {
  .heroImg {
    width: 50%;
  }
}

/* HOWITWORKSECTION */

@media screen and (max-width: 500px) {
  .howItWorkPic {
    height: 5.25rem;
    width: 5.25rem;
  }
}

/* ProviderSection */
@media screen and (max-width: 500px) {
  .providerPics {
    width: 16.563rem;
    height: auto;
  }
}

/* PRICINGSECTION */
.cardsContainerPricing .cards {
  width: 18rem;
}
.cardimgs {
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

/* BOOKSECTION */
.bookMassageCardsContainer .swiper-button-prev {
  color: #2a2a2a !important;
}
.bookMassageCardsContainer .swiper-button-next {
  color: #2a2a2a !important;
}
.bookMassageCardsContainer .swiper-slide-active {
  margin-left: 4.5rem !important;
}
@media screen and (max-width: 350px) {
  .bookMassageCardsContainer .swiper-slide-active {
    margin-left: 3.5rem !important;
  }
}
@media screen and (min-width: 500px) {
  .bookMassageCardsContainer .swiper-slide-active {
    margin-left: 5.5rem !important;
  }
}
.swiper-pagination {
  left: -47% !important;
}
.containerReivew .swiper {
  height: 20.75rem;
}

/* REVIEWSECTION */
.cardReview {
  border: 1.5px solid #2a2a2a;
  border-radius: 12px;
}
.cardReview:hover {
  background-color: #efbd69;
}
.containerReivew .swiper-slide-active .cardReview {
  background-color: #efbd69 !important;
}
.swiper-pagination-bullet-active {
  background-color: #000 !important;
}

/* MEMBERSECTION */

.memberpic {
  width: 100%;
}

/* FAQSECTION */

@media screen and (min-width: 1024px) {
  .containerFaq {
    background-image: url(../imgs/faq.svg);
    background-repeat: no-repeat;
    background-position: 111.5%;
    background-position-y: -10%;
  }
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root.Mui-expanded:last-of-type {
  background-color: #2a2a2a;
}

@media screen and (min-width: 1024px) {
  .css-o4b71y-MuiAccordionSummary-content {
    height: 3.2rem;
  }
}
.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root {
  background-color: #f6f4f2;
}
.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
  background-color: #2a2a2a;
}
.css-o4b71y-MuiAccordionSummary-content.Mui-expanded h3 {
  color: white;
}
.css-9l5vo-MuiCollapse-wrapperInner {
  background-color: #2a2a2a;
}
.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
  all: inherit;
}
.css-yw020d-MuiAccordionSummary-expandIconWrapper.Mui-expanded {
  color: white;
}

/* FORM */
.emailInput {
  box-sizing: border-box;
  resize: vertical;
  width: 100%;
  padding: 16px 328px 16px 22px;
  gap: 8px;
  background: #ffffff;
  border: 1px solid #969696;
  box-shadow: 0px 16px 40px rgba(42, 42, 42, 0.05);
}
@media screen and (max-width: 425px) {
  .emailInput {
    padding: 16px 228px 16px 22px;
  }
  .form form {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.emailInput::placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  text-transform: capitalize;

  color: #969696;
  width: 12.375rem;
}

/* FOOTER */
.endLine {
  width: 1234px;
  height: 0px;
  border: 1px solid #858585;
}

/* AppointmentPage */

._2Jtxm ._1hzhf {
  font-family: "Domine", "serif";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height */

  text-align: center;

  /* Primary/Dark */

  color: #2a2a2a;
}

._2Jtxm._35Ago ._2kL0S {
  font-family: "Domine", "serif";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height */

  text-align: center;

  /* Primary/Dark */

  color: #2a2a2a !important;
  border: 1px solid #2a2a2a;
  background-color: white !important;
}

._2Jtxm ._2kL0S,
._2Jtxm ._2JvrO {
  background-color: #e8e8e8 !important;
  font-family: "Domine", "serif";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height */

  text-align: center;

  /* Primary/Dark */

  color: #2a2a2a !important;
}

._2Jtxm ._2JvrO {
  background-color: #2a2a2a !important;
}

._2Jtxm._2ZUAI ._2JvrO svg path {
  stroke: #efbd69 !important;
}

._2Jtxm::before {
  background: linear-gradient(to left, #2a2a2a 50%, #2a2a2a 50%) !important;
}

._hsN1w {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  text-transform: capitalize;

  color: #ffffff;
  background-color: #2a2a2a !important;
  border: 1px solid #2a2a2a !important;
}
._hsN1w:hover {
  background-color: transparent !important;
  color: #2a2a2a;
}
._3CDiP {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  text-transform: capitalize;

  color: #ffffff;
  background-color: #2a2a2a !important;
  border: 1px solid #2a2a2a !important;
}
._3CDiP:hover {
  background-color: transparent !important;
  color: #2a2a2a;
}

.cardBookMassage {
  border: 2px solid #969696;
}

._3uApM {
  margin-bottom: 9.375rem !important;
}

._1Lo2h {
  display: none !important;
}

@media screen and (min-width: 768px) {
  ._1Lo2h {
    display: flex !important;
  }
}

._53Ji7 {
  padding: 0rem !important;
}

@media screen and (min-width: 768px) {
  ._53Ji7 {
    padding: 2rem !important;
  }
}

input[id="selectMassageCard1"]:checked
  ~ label[for="selectMassageCard1"]
  .cardBookMassage,
input[id="selectMassageCard2"]:checked
  ~ label[for="selectMassageCard2"]
  .cardBookMassage,
input[id="selectMassageCard3"]:checked
  ~ label[for="selectMassageCard3"]
  .cardBookMassage {
  border: 3px solid #2a2a2a;
}

.cardBookMassage {
  cursor: pointer;
}

input[type="radio"] {
  display: none;
}

.selectDetails .detail {
  background: #ffffff;
  /* UI/ Grey */

  border: 1px solid #969696;
  box-shadow: 0px 16px 40px rgba(42, 42, 42, 0.05);
}

input[id="selectDetailsPeople1"]:checked
  ~ label[for="selectDetailsPeople1"]
  .detail,
input[id="selectDetailsPeople2"]:checked
  ~ label[for="selectDetailsPeople2"]
  .detail {
  border: 2px solid #2a2a2a;
  box-shadow: 0px 16px 40px rgba(42, 42, 42, 0.05);
  color: #2a2a2a;
}

input[id="selectDetailsPeople1"]:checked
  ~ label[for="selectDetailsPeople1"]
  .detail
  h2,
input[id="selectDetailsPeople2"]:checked
  ~ label[for="selectDetailsPeople2"]
  .detail
  h2 {
  color: #2a2a2a;
}

input[id="selectDetailsDuration1"]:checked
  ~ label[for="selectDetailsDuration1"]
  .detail,
input[id="selectDetailsDuration2"]:checked
  ~ label[for="selectDetailsDuration2"]
  .detail,
input[id="selectDetailsDuration3"]:checked
  ~ label[for="selectDetailsDuration3"]
  .detail {
  border: 2px solid #2a2a2a;
  box-shadow: 0px 16px 40px rgba(42, 42, 42, 0.05);
  color: #2a2a2a;
}

input[id="selectDetailsDuration1"]:checked
  ~ label[for="selectDetailsDuration1"]
  .detail
  h2,
input[id="selectDetailsDuration2"]:checked
  ~ label[for="selectDetailsDuration2"]
  .detail
  h2,
input[id="selectDetailsDuration3"]:checked
  ~ label[for="selectDetailsDuration3"]
  .detail
  h2 {
  color: #2a2a2a;
}

input[id="selectDetailsGender1"]:checked
  ~ label[for="selectDetailsGender1"]
  .detail,
input[id="selectDetailsGender2"]:checked
  ~ label[for="selectDetailsGender2"]
  .detail,
input[id="selectDetailsGender3"]:checked
  ~ label[for="selectDetailsGender3"]
  .detail {
  border: 2px solid #2a2a2a;
  box-shadow: 0px 16px 40px rgba(42, 42, 42, 0.05);
  color: #2a2a2a;
}

input[id="selectDetailsGender1"]:checked
  ~ label[for="selectDetailsGender1"]
  .detail
  h2,
input[id="selectDetailsGender2"]:checked
  ~ label[for="selectDetailsGender2"]
  .detail
  h2,
input[id="selectDetailsGender3"]:checked
  ~ label[for="selectDetailsGender3"]
  .detail
  h2 {
  color: #2a2a2a;
}

input[id="selectPricingCard1"]:checked
  ~ label[for="selectPricingCard1"]
  .cardPricing,
input[id="selectPricingCard2"]:checked
  ~ label[for="selectPricingCard2"]
  .cardPricing,
input[id="selectPricingCard3"]:checked
  ~ label[for="selectPricingCard3"]
  .cardPricing {
  border: 3px solid #2a2a2a;
}

/* SCROLLTOTHETOP */

.react-scrolltop-button {
  right: 1.4% !important;
  bottom: 2.5% !important;
  background-color: #efbd69 !important;
  padding: 12px !important;
  border: 0px solid #000000 !important;
  border-radius: 8.471rem !important;
  width: 3.088rem;
  height: 3.088rem;
  font-family: "Poppins", "serif";
  font-weight: bolder !important;
}
.react-scrolltop-button:hover {
  color: black !important;
}
.react-scrolltop-button svg {
  font-size: 1.6rem !important;
}

@media screen and (max-width: 550px) {
  .react-scrolltop-button {
    width: 2.3rem;
    height: 2.3rem;
    right: 2.4% !important;
    bottom: 2.5% !important;
  }
  .react-scrolltop-button svg {
    font-size: 1.5rem !important;
    position: relative;
    top: -6px;
    left: -5.75px;
  }
}

/* DATEANDTIMRPICKER */
.css-1vcokmn-MuiCalendarOrClockPicker-root {
  background-color: #f6f4f2;
  padding-top: 4rem;
}

.css-3eghsz-PrivatePickersYear-button.Mui-selected {
  background-color: #efbd69 !important;
  color: black !important;
}

.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: #efbd69 !important;
  color: black !important;
}

/* .css-169iwlq-MuiCalendarPicker-root {
  border: 2px solid black;
} */

.css-umzx0k-MuiClock-pin {
  background-color: #efbd69 !important;
}
.css-d0vs79-MuiClockPointer-root {
  background-color: #efbd69 !important;
}
.css-eg3pzz-MuiClockPointer-thumb {
  background-color: #efbd69 !important;
  border: 16px solid #efbd69 !important;
}
.css-12t0dn4-MuiClockPointer-thumb {
  background-color: #efbd69 !important;
  border: 16px solid #efbd69 !important;
}
.css-h2z9v1-MuiButtonBase-root-MuiIconButton-root-MuiClock-amButton {
  background-color: #efbd69 !important;
  color: black !important;
}
.css-rjqbug-MuiButtonBase-root-MuiIconButton-root-MuiClock-pmButton {
  background-color: #efbd69 !important;
  color: black !important;
}
.css-xelq0e-MuiPickerStaticWrapper-content {
  min-width: 300px !important;
}
